*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background-color: rgb(49, 149, 182);
  color: inherit;
  font-weight: bold;
  font-size: large;
}
.wrapper{
  width: 80vw;
  height: 92vh;
  margin: 20px auto;
  background-color: rgb(206, 184, 123);
  color:inherit;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 10px 10px 12px grey;
}
h1{
  font-size: 50px;
  color: aliceblue;
}

.redHoliday{
  color: red;
  background-color: inherit;
}
header{
  display: flex;
  justify-content: space-between;
  margin: 20px;
  align-items: center;
}
header div{
  border: 1px solid black;
  border-radius: 10px;
  padding: 6px 40px;
  box-shadow: 10px 10px 12px grey;
  background-color: white;
  color: inherit;
  cursor: pointer;
}
#days{
  margin: 10px 3px;
}
.day{
  list-style: none;
  display: inline-block;
  border: 1px solid black;
  padding: 10px;
  margin: 11px;
  height: 12vh;
  width: 10vw;
  text-align: center;
  box-shadow: 10px 10px 12px grey;
  vertical-align: bottom;
  background-color: white;
  color: inherit;
}
